<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width initial-scale=1, shrink-to-fit=no">

    <!--부트스트렙-->
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <!-- sbb CSS-->
    <link ret="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, sbb!</title>
</head>
<body>
<!--기본 템플릿안에 삽입될 내용 시작-->
<th:block layout:fragment="content"></th:block>
<!--기본 템플릿안에 삽입될 내용 끝-->
</body>
</html>
